<%- include('partials/header'); %>
<header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Add Post</h1>
                            <span class="subheading">Create Blog Post here</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
<h1>Compose</h1>
<form action="/admin/compose" method="post">
<label class="form-label">Post Image Url</label>
    <input type="url" name="postImage" class="form-control">
    
<label class="form-label">DATE</label>
    <input type="date" name="postDate" class="form-control">
    
    <label class="form-label">Title</label>
    <input type="text" name="postTitle" class="form-control">
    
    <label class="form-label">Post Sub Heading</label>
    <input type="text" name="postSubHeading" class="form-control">
    
    <label class="form-label">Category</label>
    <input type="text" name="postCategory" class="form-control">
    
    <label class="form-label">Post</label>
    <textarea cols="30" rows="10" class="form-control" name="postBody"></textarea>
    <button type="submit" class="btn btn-primary publish">Publish</button>
</form>
<h3 class='header' contenteditable="true">This is an editable heading of an editable ordered list!</h3>
<ol contenteditable="true">
  <li>You can edit this content and add items event it a ul>li element</li>
  <li>This is one more item.. <b>MINDBLOWING!</b> Press enter at any point to add another item </li>

