<%- include('partials/header'); %>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin|VIDVATTA</title>
</head>
<body>
    <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                      <h1>Admin Panel</h1>  
                        <span class="subheading">WELCOME TO ADMIN PANEL OF VIDVATTA APPLICATION</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

</body>
</html>
