<%- include('partials/header'); %>
 <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
          <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h1 style="text-align: center;"><div class="separator" style="clear: both; text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhQHxtCkm2x0orqF0Idb1GUn1QQRFp7LPd6qX6Qzpgfvdi578U8hnXcJ0R_zGwrmqQeMWU9IKp0AAstVpgckjgpCP8tkUOWyEXzIojmToPa8jJQkLKAt6nlQuTpL7_L3QtKF17UGZNlQB_wsC9Cw0agU5pFNwS_DHEQzj9yXScQXUooRp1emu2c4M4Zzw/s437/2023-03-12%2011.23.45.png" style="margin-left: 1em; margin-right: 1em;"><img border="0" data-original-height="125" data-original-width="437" height="132" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhQHxtCkm2x0orqF0Idb1GUn1QQRFp7LPd6qX6Qzpgfvdi578U8hnXcJ0R_zGwrmqQeMWU9IKp0AAstVpgckjgpCP8tkUOWyEXzIojmToPa8jJQkLKAt6nlQuTpL7_L3QtKF17UGZNlQB_wsC9Cw0agU5pFNwS_DHEQzj9yXScQXUooRp1emu2c4M4Zzw/w438-h132/2023-03-12%2011.23.45.png" width="438" /></a></div></h1><p style="text-align: left;"><b>VIDVATTA</b>&nbsp;is an simple to setup blog application <b>specially made for developers</b> to start their blog. VIDVATTA uses The MongoDB database for storing the information about the posts. The you want to <b>store data in your own MongoDB database</b>, so you can change the database link in the folder. Read the information in <b>Github Page</b> of the application.</p><p style="text-align: left;">The <b>developer who want to start their own blog, so this application is for you. </b>There is an <b>very simple steps to install the application and use for your own work.</b> Go and checkout <b>github page </b>of this application to install and start your blog journey.&nbsp;</p><p style="text-align: left;"><b>This Application will be improve more and very soon we will get to see some more new interesting features which makes blogging easier for our developers. Please don't forget to contribute us :)</b></p><p style="text-align: left;"><b>If you are having some suggestions or want to add any new feature so contribute us on github repository, and leave a pull request.</b></p><p style="text-align: left;"><b><a href="https://github.com/atharva-codes/VIDVATTA" target="_blank">Github Repository</a></b></p>
                        </div>
                </div>
            </div>
        </main>
<%- include('partials/footer'); %>
