<%- include('partials/header'); %>
 <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
          <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p><%= aboutContent %> </p>
                           <p><bold>About This Application:</bold>This is an NodeJs applicationhosted on 
                           cyclic hosting platform. This site is made using=<bold>MongoDB Database, NodeJs, ExpressJs, EJS, HTML, CSS, Scss, JS, Bootstrap Design, FontAwesome and for solving bugs and issued ChatGPT the Artificial Intelligent has been used here.</bold></p>
                        </div>
                </div>
            </div>
        </main>
<%- include('partials/footer'); %>
