<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Contact page of the website." />
        <meta name="author" content="Atharva" />
        <title>Contact - VIDVATTA</title>
        <head>
<%- include('partials/header'); %>
<h1>Contact</h1>
<p><%= contactContent %> </p>
<%- include('partials/footer'); %>
