<%- include('partials/header'); %>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found!!</title>
</head>
<body>
    <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>4O4 ERROR :(</h1>
                        <span class="subheading">PAGE DOES NOT EXIST ON THIS SITE</span>
                        <button class="btn btn-primary" type="button" herf="/home"><h2>Back To Home</h2></button>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>
