<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Home Pageof the VIDVATTA." />
        <meta name="author" content="Atharva" />
        <title>Home - VIDVATTA </title>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WTBTSDQH5E"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WTBTSDQH5E');
</script>
</head>
<%- include('partials/header'); %>
 <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Home Page</h1>
                            <span class="subheading">Home Page of WebSite</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
<%- include('partials/footer'); %>
